{% extends 'base.html' %}
{% load static %}
{% block contents %}

<!-- <div class="js-fullheight"> -->
    <div id="scroll" class="hero-wrap js-fullheight">
        <div class="overlay"></div>
        <div id="particles-js"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-6 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
                <!--form 넣기-->
                <form method = "POST" action="{% url 'login' %}">
                    {% csrf_token %}
                        <div class="form-group col-md-8" style="float: none; margin:auto">
                          <label for="InputID">ID</label>
                          <input type="text" class="form-control" id="InputID" name="userid" aria-describedby="idHelp" placeholder="Enter your ID">
                          <small id="idHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div><br>

                        <div class="form-group col-md-8" style="float: none; margin:auto">
                          <label for="InputPassword">Password</label>
                          <input type="password" class="form-control" id="InputPassword" name="userpassword" placeholder="Password"><br>
                        </div>
                        <button type="submit" class="btn btn-primary">Login</button>
                        <button type="button" class="btn btn-primary" onclick="location.href='../signup/'">Sign Up</button>
                </form>
              <!--h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">이 구역의 <strong>집사</strong>는 나</h1>-->
              <!--p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><a href="#" class="btn btn-primary btn-outline-white px-5 py-3">Get in touch</a></p>-->
            </div>
          </div>
        </div>
    </div>
{% endblock %}