{% extends 'base.html' %}
{% block contents %}
<!-- <div class="js-fullheight"> -->
<div class="hero-wrap js-fullheight">
    <div class="overlay"></div>
    <div id="particles-js"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">

            <div class="container-fluid">
                <!-- 글쓰기 추가하는곳 -->

                <div style="width: 1000px;margin-left: 250px ">
                    <table class="table table-striped table-bordered table-hover ">
                        <tbody align="center">

                            <form name="isok" method="post" action="{% url 'newPost'%}" enctype="multipart/form-data"
                                class="form-inline" onsubmit='return validateForm()'>
                                {% csrf_token %}
                                <div class="card" style="margin-top: 150px;padding-bottom: 50px;">
                                    <div class="card-body">
                                        <div class='form-group'>
                                            <label for="title" style="color:  black;">제목:</label>
                                            <input type="text" name="title" class="form-control" style="width: 50%"
                                                value="" placeholder="제목을 입력하세요" />
                                        </div>

                                        <div class='form-group' style=" height: 200px">
                                            <label name="body" for="body" style="color:  black;">내용:</label>
                                            <textarea name="body" class="form-control"
                                                style=" height: 150px"></textarea>
                                        </div>

                                    </div>
                                </div>
                                <br>

                                <br>
                                <div class="text-center">
                                    <input style="font-weight: bold;" type="submit" value="작성" class="btn btn-primary">
                            </form>

                            &nbsp;&nbsp;&nbsp;


                </div>
                </tbody>
                </table>
            </div>
        </div>
    </div>


</div>
</div>
</div>


<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Snipp.</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                        there live the blind texts.</p>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-5">
                    <h2 class="ftco-heading-2">Quick Links</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" class="py-2 d-block">Home</a></li>
                        <li><a href="#" class="py-2 d-block">내 정보</a></li>
                        <li><a href="#" class="py-2 d-block">고양이 자랑글</a></li>
                        <li><a href="#" class="py-2 d-block">고양이 자유게시판</a></li>
                        <li><a href="#" class="py-2 d-block">길고양이 지도</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Contact Information</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" class="py-2 d-block">198 West 21th Street, Suite 721 New York NY 10016</a>
                        </li>
                        <li><a href="#" class="py-2 d-block">+ 1235 2355 98</a></li>
                        <li><a href="#" class="py-2 d-block">info@yoursite.com</a></li>
                        <li><a href="#" class="py-2 d-block">email@email.com</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft">
                        <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">

                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template
                    is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com"
                        target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
</footer>
{% endblock %}