{% extends 'base.html' %}
{% load static %}
{% block contents %}
<!-- <div class="js-fullheight"> -->
<div class="hero-wrap js-fullheight">
  <div class="overlay"></div>
  <div id="particles-js"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
      <div class="col-md-6 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
        <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">이 구역의 <strong>집사</strong>는 나
        </h1>
        <h5 class="mb-4b" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">길고양이에 의한, 길고양이를 위한 커뮤니티</h5>
        <br>
        <a href="#"><img src="{% static 'images/paw.png' %}" width="65" height="65" class="img-fluid" alt=""></a>
      </div>
    </div>
  </div>
</div>

<div class="bg-light">
  <section class="ftco-section-featured ftco-animate">
    <div class="container-fluid" data-scrollax-parent="true">
      <div class="row no-gutters d-flex align-items-center" data-scrollax=" properties: { translateY: '-30%'}">

        <div class="col-md-3 mb-3">
          <a href="#" class="featured-img">
            <div class="text-1 p-4 d-flex align-items-center">
              <h3>The Verge<br><span class="tag">Website</span></h3>
            </div>
            <img src="{% static "images/image_1.png" %}" class="img-fluid" alt="">
            <div class="text p-4 d-flex align-items-center">
              <div class="user d-flex align-items-center">
                <div class="user-img mr-3" style="background-image: url(static/images/person_1.jpg);"></div>
                <h3>John Bruce <br><span class="position">Designer</span></h3>
              </div>
            </div>
          </a>
        </div>

        <div class="col-md-6">
          <div class="row no-gutters">
            <div class="col-md-12">
              <div class="row no-gutters d-flex align-items-end">

                <div class="col-md-8">
                  <a href="#" class="featured-img">
                    <div class="text-1 p-4 d-flex align-items-center">
                      <h3>Racks<br><span class="tag">Website</span></h3>
                    </div>
                    <img src="{% static 'images/image_5.png' %}" width="800" height="" class="img-fluid" alt="">
                    <div class="text p-4 d-flex align-items-center">
                      <div class="user d-flex align-items-center">
                        <div class="user-img mr-3" style="background-image: url(static/images/person_1.jpg);"></div>
                        <h3>John Bruce <br><span class="position">Designer</span></h3>
                      </div>
                    </div>
                  </a>
                </div>

                <div class="col-md-4">
                  <a href="#" class="featured-img">
                    <div class="text-1 p-4 d-flex align-items-center">
                      <h3>Zendesk<br><span class="tag">Website</span></h3>
                    </div>
                    <img src="{% static 'images/image_4.png' %}" class="img-fluid" alt="">
                    <div class="text p-4 d-flex align-items-center">
                      <div class="user d-flex align-items-center">
                        <div class="user-img mr-3" style="background-image: url(static/images/person_1.jpg);"></div>
                        <h3>John Bruce <br><span class="position">Designer</span></h3>
                      </div>
                    </div>
                  </a>
                </div>

              </div>
            </div>

            <div class="col-md-12">
              <div class="row no-gutters d-flex align-items-start">
                <div class="col-md-8">
                  <a href="#" class="featured-img">
                    <div class="text-1 p-4 d-flex align-items-center">
                      <h3>Curator<br><span class="tag">Website</span></h3>
                    </div>
                    <img src="{% static 'images/image_6.jpg' %}" width="800" height="534" class="img-fluid" alt="">
                    <div class="text p-4 d-flex align-items-center">
                      <div class="user d-flex align-items-center">
                        <div class="user-img mr-3" style="background-image: url(static/images/person_1.jpg);"></div>
                        <h3>John Bruce <br><span class="position">Designer</span></h3>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-md-4">
                  <a href="#" class="featured-img">
                    <div class="text-1 p-4 d-flex align-items-center">
                      <h3>Tasty<br><span class="tag">Website</span></h3>
                    </div>
                    <img src="{% static 'images/image_3.png' %}" class="img-fluid" alt="">
                    <div class="text p-4 d-flex align-items-center">
                      <div class="user d-flex align-items-center">
                        <div class="user-img mr-3" style="background-image: url(static/images/person_1.jpg);"></div>
                        <h3>John Bruce <br><span class="position">Designer</span></h3>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <a href="#" class="featured-img">
            <div class="text-1 p-4 d-flex align-items-center">
              <h3>Voyage<br><span class="tag">Website</span></h3>
            </div>
            <img src="{% static 'images/image_2.png' %}" class="img-fluid" alt="">
            <div class="text p-4 d-flex align-items-center">
              <div class="user d-flex align-items-center">
                <div class="user-img mr-3" style="background-image: url(images/person_1.jpg);"></div>
                <h3>John Bruce <br><span class="position">Designer</span></h3>
              </div>
            </div>
          </a>
        </div>

      </div>
      <div class="row mt-5 d-flex justify-content-center">
        <div class="col-md-8 text-center heading-section ftco-animate">
          <h1><strong>이 구역의 집사는 나</strong></h1>
          <h2 class="h1">증가하는 유기 고양이와 길 고양이에 대한<br><strong>지역별 정보</strong>를 제공하고 공유하는 서비스 입니다</h2>
          <br>
          <a href="#"><img src="{% static 'images/paw_black.png' %}" width="65" height="65" class="img-fluid"
              alt=""></a>
        </div>
      </div>
    </div>
  </section>
</div>


<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-5">
      <div class="col-md-6 text-center heading-section ftco-animate">
        <span class="subheading">Our Services</span>
        <h2 class="mb-4">기대하는 효과</h2>
        <p>전국적 규모의 길고양이를 위한 소통의 창구 부재로 인한 고양이들의 쉼터와 배려가 부족한 상황에서 고양이 커뮤니티를 활성화를 통한 여러가지 기대효과들
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services d-block text-center">
          <div class="d-flex justify-content-center">
            <div class="icon color-3 d-flex justify-content-center mb-3"><span
                class="align-self-center icon-lightbulb-o"></span></div>
          </div>
          <div class="media-body p-2 mt-3">
            <h3 class="heading">효과(1)</h3>
            <p>길고양이들에게 관심을 가져주고 정보를 공유하다 보면 길고양이의 처우가 개선</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services d-block text-center">
          <div class="d-flex justify-content-center">
            <div class="icon color-1 d-flex justify-content-center mb-3"><span
                class="align-self-center icon-laptop"></span></div>
          </div>
          <div class="media-body p-2 mt-3">
            <h3 class="heading">효과(2)</h3>
            <p>길고양이에 대한 인식을 바꾸고 같이 살아가는 생명채로써 존중할 수 있게끔 하는 효과</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services d-block text-center">
          <div class="d-flex justify-content-center">
            <div class="icon color-2 d-flex justify-content-center mb-3"><span
                class="align-self-center icon-gear"></span></div>
          </div>
          <div class="media-body p-2 mt-3">
            <h3 class="heading">효과(3)</h3>
            <p>크라우드 펀딩을 통해 평소 바쁜 사람들도 고양이에게 간접적으로 도움을 주는 효과</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services d-block text-center">
          <div class="d-flex justify-content-center">
            <div class="icon color-4 d-flex justify-content-center mb-3"><span
                class="align-self-center icon-live_help"></span></div>
          </div>
          <div class="media-body p-2 mt-3">
            <h3 class="heading">효과(4)</h3>
            <p>자신의 고양이를 소개하고 잃어버린 고양이를 찾아주는 효과</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>







<section class="ftco-section ftco-counter" id="section-counter">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-5">
      <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
        <h2>고양이 통계</h2>
        <p>고양이 관련 통계 정보 제공</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
        <div class="block-18 text-center">
          <div class="text">
            <h4 class="mb-4b"><strong class="number" data-number="189"></strong>만</h4>
            <span>집에서 기르는 고양이 수</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
        <div class="block-18 text-center">
          <div class="text">
            <strong class="number" data-number="21300">0</strong>
            <span>매년 유기되는 고양이 수</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
        <div class="block-18 text-center">
          <div class="text">
            <h4 class="mb-4b"><strong class="number" data-number="100"></strong>만</h4>
            <span>전국 길 고양이 수</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<footer class="ftco-footer ftco-bg-dark ftco-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">

        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4 ml-5">
          <h2 class="ftco-heading-2">Quick Links</h2>
          <ul class="list-unstyled">
            <li><a href="{%url 'index' %}" class="py-2 d-block">Home</a></li>
            <li><a href="{%url 'mypage'%}" class="py-2 d-block">내 정보</a></li>
            <li><a href="#" class="py-2 d-block">길고양이 지도</a></li>
            <li><a href="{% url 'board_free'%}" class="py-2 d-block">고양이 자유게시판</a></li>
            <li><a href="{% url 'board_detect'%}" class="py-2 d-block">고양이 탐정게시판</a></li>
            <li><a href="{% url 'support'%}" class="py-2 d-block">후원</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Contact Information</h2>
          <ul class="list-unstyled">
            <li><a href="#" class="py-2 d-block">경기도 시흥시 산기대학로 237</a></li>
            <li><a href="#" class="py-2 d-block">010-3673-0729</a></li>
            <li><a href="#" class="py-2 d-block">http://shrouded-sea-92434.herokuapp.com/index/</a></li>
            <li><a href="#" class="py-2 d-block">firestar9390@likelion.org</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <ul class="ftco-footer-social list-unstyled float-md-left float-lft">
            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">

        <p>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;
          <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i
            class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
      </div>
    </div>
  </div>
</footer>

{% endblock %}