{% extends 'base.html' %}
{% load static %}
{% block contents %}
<!-- <div class="js-fullheight"> -->
<div class="hero-wrap js-fullheight" style="background-size: cover">
    <div class="overlay"></div>
    <div id="particles-js"></div>
    <div class="container-fluid">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="panel panel-default" style="margin-top: 5%;background-color: rgba( 255, 255, 255, 0.5 ); width:70%; height:65%;">
                <div class="panel-body">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active" style="margin-top:40px;">
                                <center>
                                    <img src="{% static 'images/supprot_ntr.png' %}" height=100% width=800>
                                </center>
                                <center>
                                    {% if user.is_authenticated %}
                                    <a href="#"
                                        onclick="window.open('pop_tnr','pop_tnr','width=680,height=400,location=no,status=no,scrollbars=no');"
                                        class="btn btn-primary btn-lg btn-outline-pink px-5 py-3"
                                        style="margin-bottom:0px; margin-top:20px;">
                                        <font size="5em" color="#eb86b4">후원 하기
                                    </a></font>
                                    {% else %}
                                    <a href="#"
                                        class="btn btn-primary btn-lg btn-outline-pink px-5 py-3"
                                        style="margin-bottom:0px; margin-top:20px;">
                                    <font size= "5em" color = "#eb86b4">로그인 후 후원</a></font>
                                    {% endif%}
                                </center>
                            </div>
                            <div class="carousel-item" style="margin-top:50px;">
                                <center>
                                    <img src="{% static 'images/supprot_num.png' %}" height=100% width=800 >
                                </center>
                                <center>
                                    {% if user.is_authenticated %}
                                    <a href="#"
                                        onclick="window.open('pop_snack','pop_tnr','width=680,height=400,location=no,status=no,scrollbars=no');"
                                        class="btn btn-primary btn-lg btn-outline-pink px-5 py-3"
                                        style="margin-bottom:30px;">
                                        <font size="5em" color="#eb86b4">후원 하기
                                    </a></font>
                                    {% else %}
                                    <a href="#"
                                        class="btn btn-primary btn-lg btn-outline-pink px-5 py-3"
                                        style="margin-bottom:30px;">
                                        <font size="5em" color="#eb86b4">로그인 후 후원
                                    </a></font>
                                    {% endif %}
                                </center>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}